---
import type { GetStaticPaths } from 'astro';

import ConfessionalList from '../../components/confessional-list.astro';
import Layout from '../../components/layout.astro';
import ParishRegister from '../../components/parish-register.astro';
import Revision from '../../components/revision.astro';
import TitledLink from '../../components/titled-link.astro';
import Unstructured from '../../components/unstructured.astro';
import getArchiveItemMicrodata from '../../ld/archive-item-microdata';
import type { ArchiveItem } from '../../schemas/archive-item';
import { getCollection, getEntry } from '../../services/astro-content';
import formatDate from '../../utils/format-date';

export const getStaticPaths = (async () => {
  const archiveItems = await getCollection('archive-items');

  return archiveItems.map((item) => ({
    params: {
      id: item.id,
    },
    props: { item: item.data },
  }));
}) satisfies GetStaticPaths;

export interface Params {
  id: string;
}

export interface Props {
  item: ArchiveItem;
}

const { item } = Astro.props;
const { id: itemId } = Astro.params;
const archive = await getEntry('archives', item.archive);
const microdata = getArchiveItemMicrodata(item, archive.data);
const [fonds, series, archiveItemNumber] = item.identifier.split('-');
---

<Layout title={`${archive.data.shortTitle} ${item.identifier}`}>
  <style slot="head">
    .archive-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 16px 0;
      padding: 16px;
      font-family: 'Times New Roman', serif;
    }

    .archive-title {
      color: #343a40; /* Dark grey text */
      font-size: 1.2em;
      font-weight: bold;
      text-decoration: none;
    }

    .archive-details {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 8px;
    }

    .archive-details div {
      line-height: 1.5;
      margin-bottom: 4px;
    }
  </style>
  <slot name="head" slot="head" />
  <article>
    <header>
      <h2 lang="ru">{item.title}</h2>
      <div class="archive-card">
        <a href={archive.data.url} class="archive-title" target="_blank"
          >{archive.data.title}</a
        >
        <div class="archive-details">
          <div><strong>Фонд:</strong> {fonds}</div>
          <div><strong>Опис:</strong> {series}</div>
          <div><strong>Справа:</strong> {archiveItemNumber}</div>
          <div>
            <strong>Дата створення:</strong>
            {formatDate(item.dateCreated)}
          </div>
          {
            item.dateModified && (
              <div>
                <strong>Оновлена:</strong> {formatDate(item.dateModified)}
              </div>
            )
          }
          <div>
            <strong>Ця справа на інших ресурсах:</strong>
            <TitledLink href={item.gssUrl} />{' '}
            {item.archivedAt.map((scanUrl) => <TitledLink href={scanUrl} />)}
          </div>
        </div>
        {item.isPartial && <p><em>Ця справа проіндексована частково</em></p>}
      </div>
    </header>
    {
      item.genre === 'Confessional list' && (
        <ConfessionalList itemId={itemId} microdata={microdata} />
      )
    }
    {
      item.genre === 'Parish register' && (
        <ParishRegister itemId={itemId} microdata={microdata} />
      )
    }
    {
      item.genre === 'Revision' && (
        <Revision itemId={itemId} microdata={microdata} />
      )
    }
    {
      item.genre === 'Unstructured' && (
        <Unstructured itemId={itemId} microdata={microdata} />
      )
    }
  </article>
</Layout>
