---
import Layout from '../../components/layout.astro';
import TitledLink from '../../components/titled-link.astro';
import { getCollection } from '../../services/astro-content';

const archiveItems = await getCollection('archive-items');
const parishRegisterTables = await getCollection('parish-register-tables');
const confessionalLists = await getCollection('confessional-lists');
const archiveItemTuples: [
  (typeof archiveItems)[0],
  (typeof parishRegisterTables)[0] | (typeof confessionalLists)[0] | undefined,
][] = archiveItems.map((archiveItem) => [
  archiveItem,
  archiveItem.data.genre === 'Parish register'
    ? parishRegisterTables.find(({ id }) => id === archiveItem.id)
    : confessionalLists.find(({ id }) => id === archiveItem.id),
]);

const ARCHIVE_ITEM_TYPES = {
  'Confessional list': 'Сповідний розпис',
  'Parish register': 'Метрична книга',
};
---

<Layout title="Включені проіндексовані архівні справи">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2rem;
    }
    th,
    td {
      padding: 0.75rem;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #4caf50;
      color: white;
      font-family: 'Georgia', serif;
    }
    td {
      text-wrap: nowrap;
    }
    th a {
      color: white;
    }
    th a:hover {
      text-decoration: underline;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    a {
      text-decoration: none;
      color: #4caf50;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
    .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    td.genre {
      text-wrap: wrap;
    }
  </style>
  <table>
    <thead>
      <tr>
        <th>Архівна справа</th>
        <th>Поселення</th>
        <th>Роки</th>
        <th>Різновид</th>
        <th>Таблиця</th>
        <th>Знімки</th>
      </tr>
    </thead>
    <tbody>
      {
        archiveItemTuples.map(([archiveItem, table]) => (
          <tr>
            <th scope="row">
              <a href={`/archive-item/${archiveItem.id}`}>{archiveItem.id}</a>
            </th>
            <td>{table!.data.settlements}</td>
            <td>{table!.data.years}</td>
            <td class="genre">{ARCHIVE_ITEM_TYPES[archiveItem.data.genre]}</td>
            <td>
              <TitledLink href={archiveItem.data.gssUrl} />
            </td>
            <td>
              <div class="flex-wrapper">
                {archiveItem.data.archivedAt.map((scanUrl) => (
                  <TitledLink href={scanUrl} />
                ))}
              </div>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
