---
import type { ArchiveItem } from '../schemas/archive-item';
import { getEntry } from '../services/astro-content';
import convertParishRegistersToActs from '../utils/convert-parish-registers-to-acts';
import formatDate from '../utils/format-date';
import getActParticipants from '../utils/get-act-participants';
import getParticipantFullName from '../utils/get-participant-full-name';

import Ld from './ld.astro';

export interface Props {
  itemId: string;
  microdata: unknown;
}
const { itemId, microdata } = Astro.props;
const parishRegister = await getEntry('parish-register-tables', itemId);
const acts = convertParishRegistersToActs([parishRegister!.data]);
---

<style slot="head">
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', serif;
  }
  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #343a40; /* Dark grey background */
    color: white;
    text-align: center;
  }
  tr {
    background-color: white;
  }
  tr.act-even {
    background-color: #f8f9fa; /* Light grey background */
  }
  tr.act-even:hover {
    background-color: #e9ecef; /* Slightly darker grey on hover */
  }
  tr.act-odd:hover {
    background-color: #f1f3f5; /* Light grey on hover */
  }
  a {
    text-decoration: none;
    color: #343a40; /* Dark grey text */
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
  .memorial-service {
    background-color: #ffe6e6; /* Light red */
  }
  .confirmation {
    background-color: #cce5ff; /* Light blue */
  }
  .birth {
    background-color: #ccffcc; /* Light green */
  }
  .death {
    background-color: #f2f2f2; /* Light grey */
  }
  .baptism {
    background-color: #fff2cc; /* Light yellow */
  }
  .marriage {
    background-color: #e6ccff; /* Light purple */
  }
  .conversion {
    background-color: #96c6ff; /* Soft blue */
  }
</style>
<Ld microdata={microdata} slot="head" />
<table>
  <thead>
    <tr>
      <th>Тип</th>
      <th>Дата</th>
      <th>Роль</th>
      <th>Учасник</th>
      <th>Розворот</th>
      <th>Акт</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {
      acts.map((act, index) => {
        const participants = getActParticipants(act);
        const [firstParticipant, ...otherParticipants] = participants;
        const actTypeClass = {
          відспівування: 'memorial-service',
          долучення: 'conversion',
          миропомазання: 'confirmation',
          народження: 'birth',
          смерть: 'death',
          сповідь: 'confession',
          хрещення: 'baptism',
          шлюб: 'marriage',
        }[act.act_type];
        const isEven = index % 2 === 0;
        return (
          <>
            <tr
              class:list={[
                actTypeClass,
                { 'act-even': isEven, 'act-odd': !isEven },
              ]}
              id={`act-${index + 1}`}
            >
              <td rowspan={participants.length}>{act.act_type}</td>
              <td rowspan={participants.length}>{formatDate(act.date)}</td>
              <td>{firstParticipant.role}</td>
              <td>{getParticipantFullName(firstParticipant)}</td>
              <td rowspan={participants.length}>{act.page}</td>
              <td rowspan={participants.length}>{act.number}</td>
              <td rowspan={participants.length}>
                <a href={`/act/${act.id}`}>Відкрити</a>
              </td>
            </tr>
            {otherParticipants.map((participant) => (
              <tr
                class:list={[
                  actTypeClass,
                  { 'act-even': isEven, 'act-odd': !isEven },
                ]}
              >
                <td>{participant.role}</td>
                <td>{getParticipantFullName(participant)}</td>
              </tr>
            ))}
          </>
        );
      })
    }
  </tbody>
</table>
