---
import { getCollection } from 'astro:content';

import Layout from '../../components/layout.astro';
import TitledLink from '../../components/titled-link.astro';

const archiveItems = await getCollection('archive-items');
const parishRegisterTables = await getCollection('parish-register-tables');
const archiveItemTuples = archiveItems.map((archiveItem) => [
  archiveItem,
  parishRegisterTables.find(({ id }) => id === archiveItem.id),
]);
---

<Layout title="Включені проіндексовані архівні справи">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2rem;
    }
    th,
    td {
      padding: 0.75rem;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #4caf50;
      color: white;
      font-family: 'Georgia', serif;
    }
    td {
      text-wrap: nowrap;
    }
    th a {
      color: white;
    }
    th a:hover {
      text-decoration: underline;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    a {
      text-decoration: none;
      color: #4caf50;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
  <table>
    <thead>
      <tr>
        <th>Архівна справа</th>
        <th>Поселення</th>
        <th>Представлені роки</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {
        archiveItemTuples.map(([archiveItem, parishRegisterTable]) => (
          <tr>
            <th scope="row">
              <a href={`/parish-register/${archiveItem.id}`}>
                {archiveItem.id}
              </a>
            </th>
            <td>{parishRegisterTable.data.settlements}</td>
            <td>{parishRegisterTable.data.years}</td>
            <td>
              <TitledLink href={archiveItem.data.gssUrl} />
            </td>
            <td>
              {archiveItem.data.archivedAt.map((scanUrl) => (
                <TitledLink href={scanUrl} />
              ))}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
